<h1>{{ title }}</h1>

<div class="container">
    <div class="col col-12">
        <h1>Guide list for <b>{{champname}}</b></h1>
    </div>
    <div class="col col-12">
        <p>
            Just a wrapper for the <a href="https://www.mobafire.com"><b>mobafire</b></a> platform, the original site is too much
            resource consuming, so I made a Wrapper that does not consume so much
            hardware resources
        </p>
    </div>
    <span class="text-small">
        Original link for the guide: <a href="{{url}}" target="_blank">Here</a>
    </span>
</div>
<hr>
<br>
<table class="table table-striped">

    <thead class="thead-dark">
        <th>Guide Name</th>
        <th>Views</th>
        <th>Votes</th>
    </thead>
    <tbody>
        {{#each guides}}

        <tr>

            <td><a href="{{../BASE_URL}}{{this.link}}">{{this.title}}</a>
              <ul class="list-inline" style="margin-bottom: -10px;">
                {{#if this.elo}}
                  <li class="list-inline-item badge badge-primary">{{this.elo}}</li>
                {{/if}}
                {{#if this.role}}
                  <li class="list-inline-item badge badge-info">{{this.role}}</li>

                {{/if}}

                {{#each this.tolltip}}
                  {{#ifThird @index}}
                    <li class="list-inline-item badge badge-success">{{{this.text}}}</li>
                  {{/ifThird}}
                {{/each}}

              </ul>
              </td>
            <td>{{this.views}}</td>
            <td>{{this.votes}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
