<!--<link rel="stylesheet" href="/css.css">-->

<div class="container">

    <div class="col col-12">
        <h1>{{gtitle}}</h1>
    </div>
    <div class="col col-12">
        <p>
            Original link <a href="{{url}}">Here</a>
        </p>
    </div>
<hr>

<div class="row">
    <div class="col- col-12 col-md-3">
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Summoner Spells</h5>
                {{{spells}}}
            </div>
        </div>
    </div>

    <div class="col col-12 col-md-9">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Reforged Runes</h5>
                {{{reforgedRunes}}}
            </div>
        </div>

    </div>
</div>

<hr>
  
  <div class="row">
      <div class="col col-12">
            <h2>Item Guide :) </h2>

            {{{items}}}
      </div>
  </div>


<hr>
<br><br>
<div class="row">
    <div class="col col-md-12 abilityGrid">
        {{{ability}}}
    </div>
</div>



<div style="margin-top: 50em;"></div>


</div>
