

<!--<p>Welcome to {{ title }}</p>-->

<div class="container">
    <div class="col col-12">
        <h1>Mobafire Wrapper</h1>
    </div>
    <div class="col col-12">
        <p>
            Just a wrapper for the <a href="https://www.mobafire.com"><b>mobafire</b></a> platform, the original site is too much 
            resource consuming, so I made a Wrapper that does not consume so much 
            hardware resources
        </p>
    </div>
</div>

<hr>

<p>
    Just search for your champion and in the next page select the guide :)
</p>

<div class="form-group" id="searchform">
    <label for="search"><b>Just type the hero name, or select from the list</b></label>
    <input autofocus type="text" class="form-control z-index-1" name="search" id="myInput" placeholder="Master Yi">
</div>

<table id="myTable" class="table table-striped" >
    <thead class="thead-dark">
        <tr>
            <th>Champion name</th>
        </tr>
    </thead>
    <tbody>
        {{#each champs}}
            <tr>
                <td><a href="{{../BASE_URL}}{{this.link}}">{{this.title}}</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>