
<div class="container">
    <div class="col col-12">
        <h1>Mobafire Wrapper</h1>
    </div>
    <div class="col col-12">
        <p>
            Champion List updated
        </p>
    </div>
</div>


<div class="container">
    <div class="col col-12">
        Total champion <b>{{total}}</b>
    </div>
</div>


<table id="myTable" class="table table-striped" >
    <thead class="thead-dark">
        <tr>
            <th>Champion name</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        {{#each champs}}
            <tr>
                <td><a href="{{this.link}}">{{this.title}}</a></td>
                <td>{{../BASE_URL}}{{this.link}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>