body {
    width: 70%;
    margin: 0 auto;
}

p {
    text-align: justify
}

a {
    text-transform: capitalize
}

#myTable {
    margin: 0 auto;
    text-align: center;
    margin-top: 2em
}

.form-control {
    border-radius: 0;
}

#searchform {
    margin: 0 auto;
}

.z-index-1 {
    box-shadow: 5px 5px 10px #002;
}

b {
    text-transform: capitalize
}

body {
    background: #fff !important;
    width: 70%;
}

h1 {
    margin-top: 1em;
}



.ability-check {
    background-color: #000662;
    height: 32px;
    width: 32px;
    padding: 2px;
    margin: 2px;
    border-radius: 2px;
    text-align: center;
}

.selected {
    background-color: green;
    color: white;
}

.ability-row .float-left {
    display: inline-block;
    display: -webkit-inline-box;
}

.ability-row .float-left img {
    /*height: 28px;*/
    /*width: 28px;*/
    float: left
}

.mt5 {
    width: 100%;
}
.new-runes__primary, .new-runes__secondary{
    display: -webkit-inline-flex;
    display: inline-flex;
}
.new-runes__primary img, .new-runes__secondary img {
    height: 63px;
    width: 63px;
}
.new-runes__item span, .new-runes__title{
    display: none
}

.item-group{
    display: inline-block
}
.item-title{
    display: none
}
h2{
    font-size: 24px;
}
h2 span{
    display: none
}

.abilityGrid{
    display: -ms-inline-grid;
    display: inline-grid;
}
.abilityGrid img{
    height: 32px;
    width: 32px;
}